@import url(reset.css);

body {
  font-family: poppins, arial, sans-serif;
  background-color: #fafafa;
  font-size: 16px;
}

h1,
h2,
h3,
p,
a {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.125rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5;
  font-weight: bold;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration-color: blue;
  color: blue;
}

/* Make images responsive */

img {
  max-width: 100%;
  height: auto;
}

header {
  width: 100vw;
  z-index: 50;
}
section.upper {
  background-color: #1831cb;

  color: white;
  display: flex;
  justify-content: center;
}
section.lower {
  background-color: #fff;
  color: black;
  display: flex;
  justify-content: flex-start;
}
.navbar {
  overflow: hidden;
  color: #000;
  padding: 14px 16px;
  display: inline-flex;
  justify-content: flex-start;
}
.navbar a {
  font-size: 16px;
  color: black;

  padding: 14px 16px;
  text-decoration: none;
}
.subnav {
  overflow: hidden;
}
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover,
.subnav:hover .subnavbtn {
  background-color: #1831cb;
  color: #fff;
}
.subnav-content {
  float: left;
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}
.subnav-content a {
  float: left;
  color: black;
  text-decoration: none;
}
.subnav-content a:hover {
  background-color: #eee;
  color: blue;
}
.subnav:hover .subnav-content {
  display: block;
}
button {
  display: inline-flex;
}

div.hero-banner {
  color: white;
  background-color: rgba(30, 30, 30, 0.5);
  padding: 0.5rem;
  width: 60%;
  margin-left: 2rem;
  position: absolute;
  bottom: 2rem;
}
button.big-button {
  width: 25rem;
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #fffcc0;
}
section.hero.index {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/hp-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

origin/main .info-graphic {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
p {
  font-size: 1.125rem;
}

h2 {
  font-size: 4rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5;
  font-weight: bold;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration-color: blue;
  color: blue;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

section.hero.about {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/ab_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.hero.avalanche {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/aval-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.hero.hypothermia {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/hy-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.hero.education {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/ed-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.hero.services {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/sv_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.hero.visitor-safety {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/vs_hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
section.card-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1 rem;
  margin-bottom: 1rem;
}
.card.response {
  background-image: url("../mountain_rescue_img/response.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card.rescues {
  background-image: url("../mountain_rescue_img/rescues.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.card-experts {
  background-image: url("../mountain_rescue_img/expert.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main {
  background-color: bisque;
  margin: 0 auto;
}
main h2,
p,
h3 {
  padding: 0 5rem;
}

main {
  background-color: bisque;
  margin: 0 auto;
}
main h2,
p,
h3 {
  padding: 0 5rem;
}
/* FORM STYLES */

/*this iz a form*/
.form {
  background-color: brown;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.form-block {
  border: 5px solid #a0a0a0;
  background: #fff;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  width: 40%;
}
.form-block p {
  max-width: 60ch;
  text-align: center;
}

<<<<<<< HEAD
/* the very form*/

label {
  background-color: burlywood;
  display: block;
  margin-top: 0;
}
.payment-form label {
  background-color: cornflowerblue;
  display: block;
}
input {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid #a0a0a0;
  background: #e7e7e7;
}
select {
  width: 100%;
  height: 2rem;
  border: 1px solid #a0a0a0;
  background: #e7e7e7;
}
.select-feild {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.select-block label {
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="radio"] {
  appearance: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
}

.select-block input[type="radio"]:checked {
  background-color: #d70303;
  color: white;
}
=======
#nameinput {
  border: 2px solid pink;
  background: yellowgreen;
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
}

>>>>>>> origin/main
/*infographic content*/
.info-graphic-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: yellowgreen;

  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.text-block {
  background: lightblue;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
}
.image-block {
  background: lightcoral;
  border: 2px solid black;
  width: 100%;
  padding: 1rem;
}
.left-align {
  display: flex;
  justify-content: flex-end;
}

div.hero-banner {
  color: white;
  background-color: rgba(30, 30, 30, 0.5);
  padding: 0.5rem;
  width: 60%;
  margin-left: 2rem;
  position: absolute;
  bottom: 2rem;
}
button.big-button {
  width: 25rem;
  height: 5rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: #fffcc0;
}
section.hero.index {
  max-height: 60vh;
  height: 60vh;
  margin-bottom: 1rem;
  background-image: url("../mountain_rescue_img/hp-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/*the team members code*/
.team {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teams-block {
  background-color: burlywood;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  background-color: aqua;
  padding: 0 1rem;
}
.team-member img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
}

<<<<<<< HEAD
/*footer css------------*/
footer {
  color: white;
  background-image: url(../mountain_rescue_img/footer.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem;
  height: 20rem;
}
footer a {
  color: white;
}
footer a:hover {
  color: rgb(126, 117, 242);
}
/*right-box style*/
.footer-right-box {
  background-color: #033fd7;
  width: 100%;
  padding-left: 5rem;
  height: 100%;
}
.footer-right-box h3 {
  padding: 0;
  margin: 0;
}
.footer-right-box a {
  text-decoration: underline;
}
.right-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.right-items {
  background-color: #4d8ac8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.7rem;
}

/*left-box style*/
.footer-left-box {
  background-color: #a0a0a0;
  width: 100%;
  height: 100%;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 5rem;
}
.leftdown {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  height: 30%;
  align-items: end;
  justify-content: flex-end;
}
.leftup {
  background-color: green;
  display: flex;
  flex-direction: column;
  height: 70%;
  align-items: end;
  justify-content: space-between;
}
.footer-left-box ul {
  background-color: #d70303;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2.813rem;
}

.horizon-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 2.813rem;
=======
/* Weather Styles */

.weather-forecast {
  border: 10px solid yellowgreen;
  padding: 1rem;
>>>>>>> origin/main
}
